:root {
  --main: #046649;
  --first: #07A676;
  --second: #08CC91;
  --third: #0AE6A3;
  --fourth: #0AF2AC;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  }

* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  }

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  }

body {
  background: var(--main);
  }

.top_bar {
  width: 100vw;
  height: 5rem;
  background: var(--third);
  color: var(--main);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  }

.bottom_bar {
  background: transparent;
  width: 100vw;
  height: 6rem;
  position: fixed;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.bottom_bar form input {
  width: 29rem;
  height: 4rem;
  border: none;
  border-radius: 4rem;
  padding: 0 1.5rem;
  margin-left: 1rem;
  background: var(--third);
  color: var(--main);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  }

#send {
  background: var(--third);
  border: none;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: 1rem;
  }

#icon {
  color: var(--main);
  font-size: 2rem;
  }

.wrapper {
  margin-top: 8rem;
  margin-bottom: 10rem;
  }

.inmsg {
  width: 78vw;
  background: var(--third);
  color: var(--main);
  margin: 1rem 1rem;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  }

.inmsg p {
  font-size: 1.4rem;
  font-weight: 500;
  }

.outmsg {
  width: 78vw;
  background: var(--first);
  color: var(--fourth);
  margin: 1rem 0;
  margin-left: calc(100vw - 78vw - 1rem);
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  }

.outmsg p {
  font-size: 1.4rem;
  font-weight: 500;
  }
